html {
	scroll-behavior: smooth;
}

body {
	font-family: "Lato", sans-serif;
	overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}
img {
	max-width: 100%;
	height: auto;
}
ul,
ol {
	list-style: none;
}

section {
	padding: 45px 0px 80px 0;
	overflow-x: hidden;

	.heading {
		text-align: center;
		padding-bottom: 40px;

		h2 {
			text-transform: uppercase;
		}
	}
}
