/* FOOTER */
footer {
  padding: 30px 0 20px;

  h5 {
    color: #fff;
    font-weight: normal;
  }

  .fas {
    font-size:  25px;
    margin: 20px;
    color: white;
    height: 30px;

    &:hover {
      font-size:  27px;
    }
  }
}